<div id="background">
  <div id="blog-link">
    <a href="http://blog.threefunkymonkeys.com" target="_blank">
      <div id="blog-link-text">BLOG!</div>
      <img src="/img/blog.png" />
    </a>
  </div>

  <h3 id="adorable" class="home-title"><%= I18n.t('.adorable') %></h3>
  <br>
  <h1 id="monkeys" class="home-title"><%= I18n.t('.monkeys') %> <span>web</span>.</h1>
  <p class="big-text">
    This is the funky website
  </p>
</div>

<div id="buttons">
  <a id="what-we-do" class="home-button" href="#we-do"><%= I18n.t('.what_we_do')%></a>
  <a id="who-we-are" class="home-button" href="#we-are"><%= I18n.t('.who_we_are')%></a>
  <a id="contact-us" class="home-button" href="#contact"><%= I18n.t('.contact_us')%></a>
</div>

<div id="sections" class="col-md-12">
  <h4 id="we-do" class="home-section-title"><%= I18n.t('.what_we_do') %></h4>
  <p class="section-text col-md-8 col-md-offset-2"><%= I18n.t('.what_we_do_text') %></p>
</div>
