= link_to "blog", "http://blog.threefunkymonkeys.com/", :target => :blank
= " / "
= link_to "@3funkymonkeys", "https://twitter.com/3funkymonkeys", :target => :blank
= " / "
= mail_to "code@threefunkymonkeys.com"
