%p
  #{threefunkymonkeys} surge de la necesidad que teníamos dos
  programadores y un diseñador de desarrollar herramientas avanzadas y
  utilizando las últimas tecnologías disponibles para el caso.

%p
  Como buenos <em>geeks</em> sentimos la necesidad de ampliar nuestros
  conocimientos y compartirlo con el resto del mundo, buscando siempre
  la manera más ágil y cómoda para trabajar.

%section#contact
  %header
    %h2
      Contacto

  %p
    Si queres estar al tanto de las novedades o conocer mas de
    #{link_to 'nosotros', about_path} dejanos tus datos. Te
    prometemos mantener tu privacidad y no utilizar tus datos con
    fines deshonestos.

  = form_for(@contact) do |f|
    = f.email_field :email, :id => :email, :placeholder => t('.email')
    = f.text_field :name, :id => :name, :placeholder => t('.name')
    = f.submit t('.let_me_know').upcase, :id => :let_me_know
