%h1
  %img{ :src => "/images/3fm.jpg", :alt => "3FUNKYMONKEYS", :title => "THREE FUNKY MONKEYS" }

= render :partial => "shared/flash", :locals => {:flash => flash}

%p
  #{threefunkymonkeys} surge de la necesidad que teníamos dos
  programadores y un diseñador de desarrollar herramientas avanzadas y
  utilizando las últimas tecnologías disponibles para el caso.

%p
  Como buenos <em>geeks</em> sentimos la necesidad de ampliar nuestros
  conocimientos y compartirlo con el resto del mundo, buscando siempre
  la manera más ágil y cómoda para trabajar.

%p
  Si queres estar al tanto de nuestros productos, dejanos tus datos

  =form_for(@contact) do |f|
    = f.label :email
    = f.email_field :email, :id => :email
    = f.label :name
    = f.text_field :name, :id => :name
    = f.submit :id => :let_me_know


%div#footer
  = render :partial => 'site/web_links'
