= render :partial => 'shared/header'
= render :partial => "shared/flash", :locals => {:flash => flash, :objekt => @contact}

%p
  #{threefunkymonkeys} surge de la necesidad que teníamos dos
  programadores y un diseñador de desarrollar herramientas avanzadas y
  utilizando las últimas tecnologías disponibles para el caso.

%p
  Como buenos <em>geeks</em> sentimos la necesidad de ampliar nuestros
  conocimientos y compartirlo con el resto del mundo, buscando siempre
  la manera más ágil y cómoda para trabajar.

%p
  Si queres estar al tanto de 
  = link_to 'nosotros', about_path, :target => :blank
  dejanos tus datos.

.p
  =form_for(@contact) do |f|
    = f.email_field :email, :id => :email, :placeholder => t('.email')
    = f.text_field :name, :id => :name, :placeholder => t('.name')
    = f.submit t('.let_me_know'), :id => :let_me_know


.p.spaced
  Tambien podes comunicarte con nosotros por Twitter, Tumbler o Email

%div#footer.cleanLinks
  = render :partial => 'site/web_links'
