#homeContainer
  %p
    #{threefunkymonkeys} surge de la necesidad que teníamos dos
    programadores y un diseñador de desarrollar herramientas avanzadas y
    utilizando las últimas tecnologías disponibles para el caso.

  %p
    Como buenos <em>geeks</em> sentimos la necesidad de ampliar nuestros
    conocimientos y compartirlo con el resto del mundo, buscando siempre
    la manera más ágil y cómoda para trabajar.

  %p
    =image_tag 'contact_bg.png', :id => :contact_bg

  .p.half
    Si queres estar al tanto de las novedades o conocer mas de 
    = link_to 'nosotros', about_path
    dejanos tus datos. Te prometemos mantener tu privacidad y no utilizar tus datos con fines deshonestos.

  .p
    = form_for(@contact) do |f|
      = f.email_field :email, :id => :email, :placeholder => t('.email')
      = f.text_field :name, :id => :name, :placeholder => t('.name')
      = f.submit t('.let_me_know'), :id => :let_me_know

  .p.spaced
    Si lo preferís podés comunicarte con nosotros directamente vía
    #{mail_to "code@threefunkymonkeys.com", "correo electrónico"} o seguirnos en
    #{link_to "Twitter", "https://twitter.com/3funkymonkeys", :target => :_blank, :rel => :external} y en
    #{link_to "Tumblr", "http://blog.threefunkymonkeys.com/", :target => :_blank, :rel => :external}.

  %div#footer.cleanLinks
    = render :partial => 'site/web_links'

